# Core ML & Data Processing
tensorflow

# Email Providers & APIs
google-auth-oauthlib
google-api-python-client
msal
requests

# Database & Configuration
mariadb
PyYAML

# Development, Linting & Hooks
libcst
pylint

# Custom in house libraries (if any)
git+ssh://git@CollectiveCore/CollectiveIndustries/CollectiveCore.git
